.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333;
}
.footer {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333;
}
.header {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #cf0e0e;
}